<section id="slides">
  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">" data-ride="carousel">
    
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <% @products.each do |product| %>
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <% end %>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/blue_bike_cropped.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Bike Berlin</h1>
          <h2>Your source for used bikes in Berlin</h2>
        </div>
      </div>
    
      <!-- Products is limited to the first two items in the database (done in simple_pages_controller) -->
      <% @products.each do |product| %>
        <div class="carousel-item">    
          <%= image_tag(product.image_url, class: "d-block w-100") %>

          <!-- Carousel captions -->
          <div class="carousel-caption d-none d-md-block">
            <%= product.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- end carousel -->
</section>

  <!-- Carousel controls -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Three column grid -->
<section id="three-column-grid" class="content">
  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-glasses"></i>
        <h3>hipster horses</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-bolt"></i>
        <h3>e-bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-smile"></i>
        <h3>awesome deals</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>

    </div><!-- end three column grid -->
</section>

<!-- Latest arrivals / changed to featured product -->
<section id="arrivals" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Featured Product</h3>
      </div>
      <div class="product-col col-sm-12 col-md-4 col-lg-3">
          <div class="product">
            <a href="#"><h3><%= @featured_product.name %></h3></a>
            <%= image_tag(@featured_product.image_url, class: "img-fluid") %>
            <p><%= @featured_product.description %></p>
            <p><strong>Colour: </strong><%= @featured_product.colour %></p>
            <strong>$<%= @featured_product.price %></strong>
          </div>
        </div><!-- /col -->
    </div>
  </div>
</section>