<!-- display products -->

<div class="product-col col-sm-12 col-md-4 col-lg-4">

  <% cache product do %>
    <%= link_to product_path(product.id) do %>
      <div class="product element-shadow">
       <h3><%= product.name %></h3>
        <%= image_tag(product.image_url, data_zoom_image: "product.image_url", class: "product-image img-fluid img-zoom") %>
        <p><%= product.description %></p>
        <p><strong>Colour: </strong><%= product.colour %></p>
        <strong class="custom-text-color">$<%= product.price %></strong>
      </div>
    <% end %>
  <% end %> <!-- end cache -->
</div><!-- /col -->

<% logger.debug "Product: #{product.name}"%>