<!-- display products -->

  <div class="product-col col-sm-12 col-md-4 col-lg-4">
    <div class="product element-shadow">
      <a href="#"><h3><%= product.name %></h3></a>
      <%= image_tag(product.image_url, class: "img-fluid") %>
      <p><%= product.description %></p>
      <p><strong>Colour: </strong><%= product.colour %></p>
      <strong>$<%= product.price %></strong>
    </div>
  </div><!-- /col -->
