<section class="content">
  <div class="container">
    <div class="row">

      <%= render 'product', product: @product %>

      <div class="product-col col-sm-12 col-md-4 col-lg-4">
        <% if @comments.exists? %>
          <h4>Average Rating:</h4>
          <div class="rated" data-score="<%= @product.average_rating %>"></div>
          <p></p>
          
          <h4>Best review</h4>
          <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>        
          <p>
            <b><%= @product.highest_rating_comment.user.first_name %> says:</b>
            <%= @product.highest_rating_comment.body %>
          </p>
          
          <h4>Worst review</h4>
          <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
          <p> 
            <b><%= @product.lowest_rating_comment.user.first_name %> says:</b>
            <%= @product.lowest_rating_comment.body %>
          </p>
        <%end%>
      </div>
    </div>
    
    <div class="row">
      <div class="product-col col-sm-12 col-md-4 col-lg-4">
        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to 'Back', products_path, class: "btn btn-outline-success my-2 my-sm-0" %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="product-col col-sm-12 col-md-4 col-lg-4">
        <% if @comments.exists? %>
          <%= render 'comments' %>
          <%= will_paginate @comments %>
        <% end %>
          <%= render 'new_comment' %>
      </div>
    </div>
  </div>
</section>